// Styling for the navbar
#mainNav {
  background-color: $bgblue;
  @include sans-serif-font;
  @include transition-all;
  .navbar-brand {
    font-weight: 400;
    text-transform: uppercase;
    color: $white;
    @include sans-serif-font;
    &:focus,
    &:hover {
      color: $secondary;
    }
  }
  .navbar-nav {
    > li.nav-item {
       > a.nav-link,
      > a.nav-link:focus {
        font-size: 1rem;
        font-weight: 400;
        text-transform: uppercase;
        color: $white;
        &:hover {
          color: $secondary;
        }
        &.active {
          color: $secondary !important;
          background-color: transparent;
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
  .navbar-toggler{
    border: 0;
    &:focus {
      outline: 0;
    }
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  }

  @media (min-width: 992px) {
    border-color: transparent;
    background-color: transparent;
    .navbar-brand {
      color: $bgblue;
      &:focus,
      &:hover {
        color: $primary;
      }
    }
    .navbar-nav > li.nav-item > a.nav-link {
      padding: 0.5rem 1rem;
    }
    .navbar-nav > li.nav-item > a.nav-link,
    .navbar-nav > li.nav-item > a.nav-link:focus {
      color: $bgblue;
      &:hover {
        color: $primary;
      }
    }
    &.navbar-shrink {
      background-color: $bgblue;
      .navbar-brand {
        color: $white;
        &:focus,
        &:hover {
          color: $secondary;
        }
      }
      .navbar-nav > li.nav-item > a.nav-link,
      .navbar-nav > li.nav-item > a.nav-link:focus {
        color: $white;
        &:hover {
          color: $secondary;
        }
      }
    }
  }
}
