@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "services.scss";
@import "portfolio.scss";
@import "bootstrap-overrides.scss";

#particles-js {
  margin-top: -10rem;
  position:absolute;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  @media (min-width: 992px) {
    margin-top: 0;
    padding-top: 57px;
  }
}

.bg-dark {
  background-color: $bgblue !important;
}

.section-pd {
  padding: 4rem 0;
  @media (min-width: 992px) {
    padding: 5rem 0;
  }
}